.card__list {
  display: grid;
  justify-content: center;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 30px;
}
.card__image {
  max-width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__like-button {
  background: transparent url(../images/like-active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
.card__like-button:hover {
  opacity: 50%;
  transition: scale(1.2);
  cursor: pointer;
}
@media screen and (max-width: 895px) {
  .card__list {
    padding-left: 10px;
    padding-right: 10px;
  }
}
