.header {
  padding-top: 45px;
  padding-bottom: 0;
  max-width: 880px;
  border-bottom: 1px solid;
  border-color: #545454;
  padding-bottom: 41px;
}
.header__logo {
  max-width: 173px;
  height: 33px;
}
@media screen and (max-width: 420px) {
  .header {
    margin: 0;
    padding: 0;
  }
  .header__logo {
    max-width: 126px;
    height: 24px;
    padding-left: 26px;
    padding-right: 0;
    padding-bottom: 32px;
    padding-top: 28px;
  }
}
